[flake8]
ignore = E203, E501, W503, RST203, RST301, RST299, E402
select = F,E,W,C,B,B9,D,RST,N
max-line-length = 100
max-complexity = 10
rst-roles =
  class,
  func,
exclude = 
  docs/source/conf.py, 
  setup.py, 
  *__init__.py,
  examples, 
